/*
 Theme Name:   HKOSCon 2020 Branding
 Description:  Child theme of Sulpus Concert
 Author:       HKOSCon Team
 Author URI:   http://hkoscon.org
 Template:     surplus-concert
 Version:      1.0.3
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  hkoscon-brand2020
*/

/**
 * Overrides text color.
 */
body,
button,
input,
select,
textarea {
    color: #ccb;
}

/**
 * Overrides button font weight and text color.
 */
.btn {
    font-weight: 800;
    color: #294454;
}

/**
 * Overrides input text color.
 */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border-color: #ccb;
}

/**
 * Overrides comment text.
 */
.comment-content p {
    font-weight: 400;
    color: #ccb;
    display: table;
    margin-bottom: 1em;
}

/**
 * Overrides event table links.
 */
table.events td a {
    color: #ccb;
}

/**
 * Fix footer area menu nesting style
 */
.site-footer ul ul.children {
    margin-top: 15px;
    margin-left: 1em;
}

/**
 * Fix feature image size
 */
#header-featured-image .attachment-surplus-concert-banner {
    width: 100%;
    height: auto;
}

/**
 * Fix breadcrumb for smaller screens
 */
.breadcrumb-list {
    width: 85vw;
    max-width: 900px;
}
@media only screen and (max-width: 900px) {
    .breadcrumb-list {
        display: none;
    }
}
